<div class='container bg-dark'>
  <div class='card mt-4'>
    <h5 class='card-header bg-success text-white'>{{blogPost.title}}</h5>
    <div class='card-body'>
      <p class='card-text'>{{blogPost.content}}</p>
      <blockquote class='blockquote mb-0'>
        <footer class='blockquote-footer'>{{blogPost.user.name}}
          <cite title='Date'>{{format_date blogPost.updatedAt}}</cite></footer>
      </blockquote>
    </div>
  </div>
</div>

{{#each comments as |comments|}}
{{> commentContent}}
{{/each}}

        {{#if logged_in}}
<div class='container bg-dark'>
  <div class='card mt-4'>
    <h5 class='card-header bg-success text-white'></h5>
    <form class='card-body mb-3' id="comment-form">
      <div class='mb-3'>
        <label
          for='textarea'
          class='form-label'
        >Comment</label>
        <textarea class='form-control' required="required" id='textarea' rows='3' data-blogpost-id="{{blogPost.id}}"></textarea>
      </div>
      <button
        type='submit'
        class='btn btn-secondary form-control'
      >Submit!</button>
    </form>
  </div>
</div>
        {{else}}
<div class='container bg-dark'>
  <div class='mt-4'>
    <a href="/login">
      <button
        type='button'
        class='btn btn-secondary form-control'
      >Login to Comment</button>
    </a>
  </div>
</div>
        {{/if}}
<script src="/js/comment.js"></script>